.prose {
  --flow-space: 1em; // The "base" space

  h1 {
    font-size: 3rem;
    margin-top: calc(var(--flow-space) * 2);
  }
  h2 {
    font-size: 2rem;
    margin-top: calc(var(--flow-space) * 1.5);
  }
  h3 {
    font-size: 1.5rem;
    margin-top: var(--flow-space);
  }
  p {
    margin-top: var(--flow-space);
    line-height: 1.6;
  }
}
