.wrapper {
  margin-inline: auto;
  padding-inline: var(--gutter);
  display: flex;
  flex-wrap: wrap;

  &--xs {
    max-width: 40ch;
    padding: var(--space-xs);
    margin: var(--space-xs);
  }

  &--sm {
    max-width: 60ch;
    padding: var(--space-sm);
    margin: var(--space-sm);
  }

  &--md {
    max-width: 100ch;
    padding: var(--space-md);
    margin: var(--space-md);
  }

  &--lg {
    max-width: 140ch;
    padding: var(--space-lg);
    margin: var(--space-lg);
  }
}
