.heading {
  &--color-primary {
    --local-hs: var(--primary-hs);
    color: var(--color-primary);
  }
  &--color-secondary {
    --local-hs: var(--secondary-hs);
    color: var(--color-secondary);
  }
  &--color-accent {
    --local-hs: var(--accent-hs);
    color: var(--color-accent);
  }
  &--color-background {
    --local-hs: var(--background-hs);
    color: var(--color-background);
  }
  &--color-neutral-light {
    --local-hs: var(--neutral-hs);
    color: var(--color-neutral-light);
  }
  &--color-neutral-dark {
    --local-hs: var(--neutral-hs);
    color: var(--color-neutral-dark);
  }
  &--color-white {
    --local-hs: var(--primer-hs);
    color: white;
  }

  &--clipped {
    text-shadow: var(--shadow-lg)
      hsl(var(--primary-hs), var(--lightness-shadow));
    background: var(--gradient-text-pro);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: hsl(var(--current-hs), 50%);
  }

  &--blocked {
    font-weight: 900;
    text-shadow:
      1px 1px 0px hsl(var(--primary-hs), var(--lightness-shadow)),
      2px 2px 0px hsl(var(--primary-hs), var(--lightness-shadow)),
      var(--shadow-sm-block) hsl(var(--primary-hs), var(--lightness-shadow));
    transition: transform var(--transition-fast);
    -webkit-text-stroke: 1px hsl(var(--local-hs), var(--lightness-shadow));
    paint-order: stroke fill;

    &:hover {
      transform: scale(var(--hover-scale));
    }
  }
}
