.heading {
  font-weight: 900;

  &--color-primary {
    --local-hs: var(--primary-hs);
    color: var(--color-primary);
  }
  &--color-secondary {
    --local-hs: var(--secondary-hs);
    color: var(--color-secondary);
  }
  &--color-accent {
    --local-hs: var(--accent-hs);
    color: var(--color-accent);
  }
  &--color-background {
    --local-hs: var(--background-hs);
    color: var(--color-background);
  }
  &--color-neutral-light {
    --local-hs: var(--neutral-hs);
    color: var(--color-neutral-light);
  }
  &--color-neutral-dark {
    --local-hs: var(--neutral-hs);
    color: var(--color-neutral-dark);
  }
  &--color-white {
    --local-hs: var(--primer-hs);
    color: white;
  }

  &--clipped {
    background: linear-gradient(
      to bottom,
      hsl(var(--current-hs), 90%) 0%,
      hsl(var(--current-hs), 70%) 45%,
      hsl(var(--current-hs), 45%) 55%,
      hsl(var(--current-hs), 25%) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &--pill {
    background:
      linear-gradient(
        to bottom,
        hsla(
            var(--current-hs),
            var(--lightness-gradient-top),
            var(--glass-opacity-mid)
          )
          50%,
        hsla(
            var(--current-hs),
            var(--lightness-gradient-bottom),
            var(--glass-opacity-mid)
          )
          50%
      ),
      linear-gradient(
        to bottom,
        hsl(var(--current-hs), var(--lightness-gradient-top)),
        hsl(var(--current-hs), var(--lightness-gradient-bottom))
      );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &--blocked {
    text-shadow:
      1px 1px 0px hsl(var(--primary-hs), var(--lightness-shadow)),
      2px 2px 0px hsl(var(--primary-hs), var(--lightness-shadow)),
      var(--shadow-sm-block) hsl(var(--primary-hs), var(--lightness-shadow));
    transition: transform var(--transition-fast);
    -webkit-text-stroke: 1px hsl(var(--local-hs), var(--lightness-shadow));
    paint-order: stroke fill;
  }

  &:hover {
    transform: scale(var(--hover-scale));
  }
}
