.container {
  width: var(--space-full);
  max-width: var(--screen-xl);
  margin-inline: auto;
}

.container--fluid {
  max-width: 100%;
  margin-inline: 0;
  padding-inline: 0;
}

.container--tight {
  max-width: var(--space-container-tight);
  margin-inline: auto;
}
