.search-bar-wrapper {
  display: flex;
  align-items: stretch;
  gap: 0;

  .form__group {
    margin-bottom: 0;
    flex: 1;
  }

  .input-field {
    height: 100%;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
