button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: var(--cursor-action);
}

.btn {
  width: max-content;
  margin-inline: auto;
  color: white;
  border: 1px solid hsl(var(--primary-hs), 40%);
  font-family: var(--font-button);
  font-size: var(--text-button);
  border-radius: var(--rounded-sm);
  padding-inline: var(--space-md);
  padding-block: var(--space-xs);
  transition: all var(--transition-fast);
  background-image: var(--gradient-linear-stacked-pill);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  cursor: var(--hover-cursor);

  &:hover {
    background-image: var(--gradient-linear-stacked-pill-hover);
    filter: var(--filter-brightness);
    transform: var(--hover-scale);
  }

  &:active {
    border: var(--glass-border);
    transform: scale(0.98);
  }

  &--register {
    font-weight: 900;
    background-image: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 4px 12px;
    border-radius: 2px;

    &:hover {
      color: var(--color-street);
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
